<header>
    <div class="container">
        <a href="#" routerLink="/" class="logo">Food Mine!</a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/cart-page" *ngIf="!isAuthenticated">Cart</a>
                    <a routerLink="/auth" *ngIf="!isAuthenticated">Login</a>
                    <a routerLink="/add-food-page" *ngIf="isAuthenticated">Add</a>
                    <a routerLink="/auth" (click)="onLogout()" *ngIf="isAuthenticated">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
