<div class="container">
  <div class="add-fom">

    <form class="cd-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <h1>{{ !editMode ? "Add Food" : "Edit Food"}}</h1>
      <input type="text" placeholder="Name" formControlName="name"/>
      <span class="name-used" *ngIf="form.get('name')?.errors?.['nameAlreadyUsed']">name already used</span>
      <input type="number" placeholder="Price" formControlName="price"/>
      <input type="text" placeholder="ImageURl" formControlName="imageUrl"/>
      <input type="text" placeholder="Cook Time" formControlName="cookTime"/>
  
      <div class="select-content">
        <div class="select">
          <label for="origins">Origins:</label>
          <select name="origin" id="cars" formControlName="origins" (input)="onAddOrigin($event.target)">
            <option value="defaultOrigin">Select Origin</option>
            <option [value]="origin.id" *ngFor="let origin of availableOrigins">
              {{ origin.name }}
            </option>
          </select>
        </div>
  
        <div class="selected-items" *ngFor="let origin of origins">
          <div class="text">{{ origin.name }}</div>
          <div class="remove-btn" (click)="removeOrigin(origin.id)">
            <i class="fa fa-minus-circle" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="select-content">
        <div class="select">
          <label for="cars">Tags:</label>
          <select name="tags" formControlName="tags" (input)="onAddTag($event.target)">
            <option value="defaultTag">Select Tag</option>
            <option [value]="tag.id" *ngFor="let tag of availableTags">
              <div>{{ tag.name }}</div>
            </option>
          </select>
        </div>
  
        <div class="selected-items" *ngFor="let tag of tags">
          <div class="text">{{ tag.name }}</div>
          <div class="remove-btn" (click)="removeTag(tag.id)">
            <i
              class="fa fa-minus-circle"
              aria-hidden="true"
            ></i>
          </div>
        </div>
      </div>
  
      <button type="submit" [disabled]="!form.valid">Save</button>
    </form>
  </div>

    <div class="tag-container cd-form" >
      <form (ngSubmit)="onSubmitTagForm()" class="tag-form" [formGroup]="formTag">
        <h1>Add Tag</h1>
        <input type="text" placeholder="Name" formControlName="name"/>
        <span *ngIf="formTag.get('name')?.errors?.['nameAlreadyUsed']" class="name-used" >name already used</span>
        <button type="submit" [disabled]="!formTag.valid">Save</button>
      </form>
      <hr>
      <div class="tags-list" *ngFor="let tag of availableTags">
        <p>{{tag.name}} <i (click)="onDeleteTag(tag.id)" class="fa fa-times-circle-o" aria-hidden="true"></i></p>
      </div>
    </div>

</div>
