<app-search></app-search>
<app-tags></app-tags>
<app-not-found
  [visible]="!foods || foods.length <= 0"
  resetLinkText="Reset Search"
></app-not-found>
<ul>
  <li *ngFor="let food of foods; let i = index">
    <div class="card" >

      <div *ngIf="isAuthenticated" class="image-overlay">
        <a routerLink="/edit-food-page/{{food.id}}" class="image-button">Edit</a>
      </div>

      <img routerLink="/food/{{ food.id }}" src="{{ food.imageUrl }}" alt="{{ food.name }}" />

      <div class="content">
        <div class="name">
          {{ food.name }}
        </div>
        <span class="favourite {{ food.favorite ? '' : 'not' }}"> ❤ </span>
        <div class="stars">rating: {{ food.stars }}</div>
        <div class="product-item-footer">
          <div class="origins">
            <span *ngFor="let origin of food.origins">
              {{ origin }}
            </span>
          </div>
          <div class="cook-time">
            <span> 🕤 </span>
            {{ food.cookTime }}
          </div>
        </div>
        <div class="price">
          <span>${{ food.price }}</span>
        </div>
      </div>
    </div>
  </li>
</ul>
