ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

ul .card{
    height: 22rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #e72929;
    margin: 10px;
    position: relative;
}

.image-overlay{
  position: absolute;
  height: 13rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  opacity: 0;
  transition: 0.25s;
}

.image-overlay:hover{
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  opacity: .5;
}

img{
  height: 13rem;
  cursor: pointer;
}

.image-overlay .image-button{
  background-color: #000000;
  outline: none;
  border: 1px solid #ffffff;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.10em;
  padding: 0.5em 1em;
  transition: 0.25s;
}


.image-overlay .image-button:hover{
  cursor: pointer;
  background-color: #222222;
}

/* li a:hover{
    opacity: 0.9;
    cursor: pointer;
} */


.content{
  padding: .5rem 1rem;
  position: relative;
}
.content .name{
  cursor: pointer;
}
.favourite{
  position: absolute;
  top: .5rem;
  right: 1rem;
  font-size: 1.2rem;
}
.favourite.not{
  color: grey;
}
.product-item-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.origins{
  flex: 9;
}
.origins span{
  border-radius: 2rem;
  background-color: whitesmoke;
  display: inline-block;
  font-size: .8rem;
  color: grey;
  margin-right: .3rem;
}
.cook-time{
  font-size: .8rem;
  flex: 3;
  text-align: right;
}
.price{
  color: #414141;
  margin-top: .7rem;
}

